@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

body {
  position: relative;
  background-color: #263969;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: #6ce9f0;
}

.ico {
  max-height: 30px;
  border-radius: 30px;
  background-color: #ffffff;
}

.container {
  display: flex;
  width: 1116px;
  height: 926px;
  background-color: #1a1c1c;
  color: #6ce9f0;
  border-radius: 20px;
  padding: 64px;
  position: absolute;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  position: absolute;
  width: 179px;
  height: 62px;
  left: 1003px;
  top: 40px;
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #2b2e2e;
  color: white;
  border-radius: 100px;
}

.projetos {
  position: absolute;
  width: 800px;
  height: 628px;
  left: 30px;
  top: 303px;
  color: #6ce9f0;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  background: #101010;
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-title {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  width: 750px;
  left: 153px;
  top: 303px;
  list-style-type: none;
  font-size: 24px;
  font-weight: 400px;
  line-height: 48px;
}

.projetos-item a {
  position: absolute;
  width: 713px;
  height: 237px;
  left: 207px;
  top: 442px;
  color: #6ce9f0;
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 15px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #fffa;
  border-radius: 5px;
  background-color: #676564;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}

.white {
  background: #e0e0e0;
}

.white .container {
  background: #ecf4ff;
  color: #000000;
}

.white .projetos {
  background: #c9c8c7;
  color: #000000;
}

.white .conquista {
  background: #c9c8c7;
  color: #000000;
}

.white .tema button {
  background: #c9c8c7;
  color: #000000;
}

.white ::-webkit-scrollbar {
  background-color: #e9e8e7;
}

.conquista {
  position: absolute;
  width: 260px;
  height: 628px;
  left: 920px;
  top: 330px;
  color: #6ce9f0;
  background: #101010;
  border-radius: 20px;
  padding: 20px;
}

.img_1 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 93px;
}

.img_2 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 93px;
  top: 248px;
}

.img_3 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 93px;
  top: 387px;
}

.img_4 {
  position: absolute;
  width: 109px;
  height: 109px;
  left: 93px;
  top: 526px;
}

.OsProjetos {
  border-radius: 20px;
}